ConsumirClienteWS/Connected Services/ServiceReferenceCRUD/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="nuevo_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dir_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email_client" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nuevo_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuevo_clienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_client" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nom_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dir_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel_client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email_client" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actualizar_clienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_cliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_client" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminar_clienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ver_cliente">
        <s:complexType />
      </s:element>
      <s:element name="ver_clienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ver_clienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nuevo_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:nuevo_cliente" />
  </wsdl:message>
  <wsdl:message name="nuevo_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:nuevo_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="actualizar_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar_cliente" />
  </wsdl:message>
  <wsdl:message name="actualizar_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizar_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_cliente" />
  </wsdl:message>
  <wsdl:message name="eliminar_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_clienteResponse" />
  </wsdl:message>
  <wsdl:message name="ver_clienteSoapIn">
    <wsdl:part name="parameters" element="tns:ver_cliente" />
  </wsdl:message>
  <wsdl:message name="ver_clienteSoapOut">
    <wsdl:part name="parameters" element="tns:ver_clienteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="nuevo_cliente">
      <wsdl:input message="tns:nuevo_clienteSoapIn" />
      <wsdl:output message="tns:nuevo_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar_cliente">
      <wsdl:input message="tns:actualizar_clienteSoapIn" />
      <wsdl:output message="tns:actualizar_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <wsdl:input message="tns:eliminar_clienteSoapIn" />
      <wsdl:output message="tns:eliminar_clienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ver_cliente">
      <wsdl:input message="tns:ver_clienteSoapIn" />
      <wsdl:output message="tns:ver_clienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nuevo_cliente">
      <soap:operation soapAction="http://tempuri.org/nuevo_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_cliente">
      <soap:operation soapAction="http://tempuri.org/actualizar_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <soap:operation soapAction="http://tempuri.org/eliminar_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ver_cliente">
      <soap:operation soapAction="http://tempuri.org/ver_cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nuevo_cliente">
      <soap12:operation soapAction="http://tempuri.org/nuevo_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar_cliente">
      <soap12:operation soapAction="http://tempuri.org/actualizar_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_cliente">
      <soap12:operation soapAction="http://tempuri.org/eliminar_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ver_cliente">
      <soap12:operation soapAction="http://tempuri.org/ver_cliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44305/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44305/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>