ConsumirClienteWS/Connected Services/Producto/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Crear_Producto_WS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_p" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom_pro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_pro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descri_pro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prec_com" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="prec_venta" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="mat_pro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Crear_Producto_WSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Crear_Producto_WSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_Producto_WS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_p" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom_pro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca_pro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descri_pro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prec_com" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="prec_venta" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="mat_pro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_Producto_WSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Actualizar_Producto_WSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar_Producto_WS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar_Producto_WSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Eliminar_Producto_WSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ver_Productos_WS">
        <s:complexType />
      </s:element>
      <s:element name="Ver_Productos_WSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ver_Productos_WSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Crear_Producto_WSSoapIn">
    <wsdl:part name="parameters" element="tns:Crear_Producto_WS" />
  </wsdl:message>
  <wsdl:message name="Crear_Producto_WSSoapOut">
    <wsdl:part name="parameters" element="tns:Crear_Producto_WSResponse" />
  </wsdl:message>
  <wsdl:message name="Actualizar_Producto_WSSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar_Producto_WS" />
  </wsdl:message>
  <wsdl:message name="Actualizar_Producto_WSSoapOut">
    <wsdl:part name="parameters" element="tns:Actualizar_Producto_WSResponse" />
  </wsdl:message>
  <wsdl:message name="Eliminar_Producto_WSSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar_Producto_WS" />
  </wsdl:message>
  <wsdl:message name="Eliminar_Producto_WSSoapOut">
    <wsdl:part name="parameters" element="tns:Eliminar_Producto_WSResponse" />
  </wsdl:message>
  <wsdl:message name="Ver_Productos_WSSoapIn">
    <wsdl:part name="parameters" element="tns:Ver_Productos_WS" />
  </wsdl:message>
  <wsdl:message name="Ver_Productos_WSSoapOut">
    <wsdl:part name="parameters" element="tns:Ver_Productos_WSResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Crear_Producto_WS">
      <wsdl:input message="tns:Crear_Producto_WSSoapIn" />
      <wsdl:output message="tns:Crear_Producto_WSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Producto_WS">
      <wsdl:input message="tns:Actualizar_Producto_WSSoapIn" />
      <wsdl:output message="tns:Actualizar_Producto_WSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Producto_WS">
      <wsdl:input message="tns:Eliminar_Producto_WSSoapIn" />
      <wsdl:output message="tns:Eliminar_Producto_WSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ver_Productos_WS">
      <wsdl:input message="tns:Ver_Productos_WSSoapIn" />
      <wsdl:output message="tns:Ver_Productos_WSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear_Producto_WS">
      <soap:operation soapAction="http://tempuri.org/Crear_Producto_WS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Producto_WS">
      <soap:operation soapAction="http://tempuri.org/Actualizar_Producto_WS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Producto_WS">
      <soap:operation soapAction="http://tempuri.org/Eliminar_Producto_WS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ver_Productos_WS">
      <soap:operation soapAction="http://tempuri.org/Ver_Productos_WS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear_Producto_WS">
      <soap12:operation soapAction="http://tempuri.org/Crear_Producto_WS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Producto_WS">
      <soap12:operation soapAction="http://tempuri.org/Actualizar_Producto_WS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Producto_WS">
      <soap12:operation soapAction="http://tempuri.org/Eliminar_Producto_WS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ver_Productos_WS">
      <soap12:operation soapAction="http://tempuri.org/Ver_Productos_WS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44381/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44381/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>